
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="com.iu.s2.qna.QnaDAO">
 
<sql id="contents">

	<if test="kind =='writer'">
		WHERE WRITER LIKE '%'||#{search}||'%'
	</if>
	<if test="kind =='title'">
	WHERE TITLE LIKE '%'||#{search}||'%'
	</if>

</sql> 

<select id="getQnaCount"  parameterType="Pagers" resultType="Long">
	SELECT COUNT(NUM) FROM QNA
	<include refid="contents"></include>
</select>




<select id="getQnaList" parameterType="Pagers"  resultType="QnaDTO">
	SELECT * FROM
	(	SELECT ROWNUM R, Q.* FROM
	(SELECT NUM,TITLE, WRITER, REGDATE FROM QNA
	<include refid="contents"></include>
	
	)Q
	)
	WHERE R BETWEEN #{startRow} AND #{lastRow}
	
</select>

<select id="getQnaDetail" parameterType="QnaDTO" resultMap="re">
	SELECT * FROM QNA Q
					LEFT JOIN
					QNAIMG QN
					ON(Q.NUM = QN.NUM)
	WHERE Q.NUM=#{num}
	
</select>
<resultMap type="QnaDTO" id="re">
<id column="NUM" property="num"/>
<result column="TITLE" property="title"/>
<result column="CONTENTS" property="contents"/>
<result column="WRITER" property="writer"/>
<result column="REGDATE" property="regDate"/>
<result column="HIT" property="hit"/>
<result column="REF" property="ref"/>
<result column="STEP" property="step"/>
<result column="DEPTH" property="depth"/>

<association property="qnaImgDTO" javaType="QnaImgDTO">
	<id column="FILENUM" property="fileNum"/>
	<result column="FILENAME" property="fileName"/>
	<result column="ORINAME" property="oriName"/>
</association>

</resultMap>
<insert id="setQnaAdd" parameterType="QnaDTO">
	<!-- 파일 업로드시 num의 정보를 넘겨주기 위해 selectKey 사용 -->
	<selectKey keyProperty="num" resultType="Long" order="BEFORE">
	SELECT QNA_SEQ.NEXTVAL FROM DUAL
	</selectKey>

	INSERT INTO QNA VALUES(#{num},#{title},#{contents},#{writer},SYSDATE,0,0,0,0)
</insert>

<insert id="setQnaImgAdd" parameterType="QnaImgDTO">
	INSERT INTO QNAIMG VALUES(QNA_SEQ.NEXTVAL,#{num},#{fileName},#{oriName})
</insert>


</mapper>